body{
	background: #f4a646;
	font-family: Roboto;
	font-size: 12px;
}
 .menu{
 	list-style: none;
 	padding: 0;
 	background: #f55050;
 	width: 90%;
 	max-width: 1000px;
 	margin: 20px auto;
 }

 .menu li{
 	display: inline-block;
 	text-align: center;
 }

 .menu li a{
 	color: #;
 	text-decoration: none;
 	display: block;
 	padding: 20px;
 }

 .menu li a:hover{
 	background: #8a4adf;
 }

 .galeria{
	width: 100%;
}

.galeria img{
	vertical-align: top;
	width: 200px;
	margin: 20px;
	padding: 5px;
	opacity: 0.6;
	border: 1px solid #484848;
}

.galeria img:hover{
	border: 1px solid #fff;
	opacity: 1;
}

footer{
	background: #85C1E9;
	height: 90px;
	text-align: center;
}