body{
	background: #f4a646;
	font-family: Roboto;
	font-size: 12px;
}
.menu{
 	list-style: none;
 	padding: 0;
 	background: #f55050;
 	width: 90%;
 	max-width: 1000px;
 	margin: 20px auto;
 }

.menu li{
 	display: inline-block;
 	text-align: center;
 }

.menu li a{
 	color: #;
 	text-decoration: none;
 	display: block;
 	padding: 20px;
 }

.menu li a:hover{
 	background: #8a4adf;
 }

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

video{
	width: 100%;
	align-content: left;

}

.content{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.content{
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	color: black;
	font-size: 70px;
}
footer{
	background: #85C1E9;
	height: 90px;
	text-align: center;
}
